* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="text"] {
  padding: 5px;
 
}

button:hover {
  cursor: pointer;
}

.headers {
  text-align: center;
}
.error-message {
    color: red;
}

.moviePoster {
  width: 200px;
}

.hidden {
  display: none;
}

.movie-hidden {
  display: none;
}

form {
  text-align: center;
}
