* {
    box-sizing: border-box;
  }
  
body {
    font-family: 'Barlow', sans-serif;
    background-image: url('background.png');
    font-weight: bolder;
    font-size: 20px;
  }

  
 button, input[type="text"] {
    padding: 5px;
 }

 .fas {
   margin-left: 15px;
 }
 .fas:hover {
   cursor: pointer;
 }
  
.container {
    min-width: 45%;
    margin: auto auto;
    text-align: center
  }

#js-error-message {
  text-align: center;
  color: #CE0D06;

}
  
input[type="submit"], input[type="text"] {
    margin-top: 15px;
    margin-bottom: 25px;
    box-shadow: 0 0 2px black;
}

input[type="submit"]:hover {
    cursor: pointer;
    background: #0CA132;
    color: white;
}

input[type="submit"] {
    margin-left: 1em;
    border-radius: 15px;
    height: 25px;
    width: 100px;
    background-color: #28CDBB;
    border: 1px solid black;
}

input[type="text"] {
    border-radius: 3px;
} 

.error-message {
    color: red;
  }
  
#movie {
    width: 750px;
    margin: auto;
    border: 1px solid black;
    border-radius: 20px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.2); 
}

.description1 {
  padding-top: .5em;
}

.description2 {
  margin-left: 25px;
  font-size: 14px;
}
#moviePoster1 {
    width: 200px;
    height: 21rem;
    float: left;
    margin-right: 1em;    
    margin-top: 1em;
    
}


.moviePoster2 {
    width: 175px;
    height: 250px;
    margin-left: 15px;
    margin-right: 15px;
}

  
.hidden {
   display: none;
}
  
.movie-hidden {
    display: none;
  }

h1,h2 {
  text-align: center;
}

h4 {
  font-weight: bolder;
  text-align: center;
  margin;
}
  
h1, h2, h3 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bolder;
}

#directions {
  text-align: center;
}

#recommendation {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  
}


#recommendation-list {
  display: flex;
  flex-wrap: wrap;
  
}

.movie-recs {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.2); 
  border-radius: 5px;
  width: 275px;
  height: 400px;
  margin: 20px;
  font-size: 18px;
  padding-left: 2%;
  padding-right: 2%;
  transition: all 0.7s ease;
  transform-style: preserve-3d;

}

.movie-recs:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}

.cardFront{
  position: absolute;
  backface-visibility: hidden;

}

.cardBack {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

@media screen and (min-width : 360px) and (max-width: 760px) {
   body {
     font-size: 12px;
   }
  
  #movie {
    width: 90%;
    margin: auto;
    border: 1px solid black;
    height: 250px;
  } 

  #moviePoster1 {
    width: 30%;
    height: 200px;
    float: left;
  }


}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  body {
    font-size: 16px;
  }

  #movie {
    width: 550px;
    margin: auto;
    border: 1px solid black;
    height: 350px;
  } 

  #moviePoster1 {
    width: 200px;
    height: 250px;
    float: left;

  }
}