* {
    box-sizing: border-box;
  }
  
body {
    font-family: 'Roboto', sans-serif;
    background-image: url('background.png');
    background-repeat
  }
  
 button, input[type="text"] {
    padding: 5px;
 }
  
.container {
    width: 45%;
    margin: auto auto;
    text-align: center
  }
  
  
input[type="submit"], input[type="text"] {
    margin-top: 3%;
    
}

input[type="submit"]:hover {
    cursor: pointer;
}
input[type="submit"] {
    margin-left: 1em;
    border-radius: 2px;
}

input[type="text"] {
    
} 

.error-message {
    color: red;
  }
  
#movie {
    width: 45%;
    margin: auto;
    
}
#moviePoster1 {
    width: 200px;
    height: 250px;
    float: left;
    margin-right: 1em;
}

h2 {
    text-align: center;
    margin-top: 7%;
    clear: left;
}


.moviePoster2 {
    width: 150px;
    height: 200px;
}
.movie-recs {
    clear: left;
}
  
.hidden {
   display: none;
}
  
.movie-hidden {
    display: none;
  }

  h1 {
      text-align: center;
  }

  